<section class="form form--contact form--sidebar">
  <div class="form__outer">
    <div class="form__inner">

      <div class="form__content">
        <h4 class="form__heading">
          Get in Contact With Us
        </h4>

        <div class="form__copy">
          Please fill out the form below for more information about Stroud.
        </div>
      </div>

      <form class="form__form">
        <div class="form__field form__field--name">
          <input class="form__input form__input--text" placeholder="Name" />
        </div>
        <div class="form__field form__field--email">
          <input class="form__input form__input--text" placeholder="Email" />
        </div>
        <div class="form__field form__field--company">
          <input class="form__input form__input--text" placeholder="Company" />
        </div>
        <div class="form__field form__field--message">
          <textarea class="form__input form__input--textarea" placeholder="How can Stroud help you find more opportunity?"></textarea>
        </div>
        <div class="form__field form__field--submit">
          <button class="form__submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
