<section class="form form--contact">
  <div class="form__outer">
    <div class="form__inner">

      <div class="form__content">
        <h4 class="form__heading">
        </h4>

        <div class="form__copy">
          Alternatively, please use the form below to make contact.
        </div>
      </div>

      <form class="form__form">
        <div class="form__field form__field--name">
          <input class="form__input form__input--text" placeholder="Name" />
        </div>
        <div class="form__field form__field--email">
          <input class="form__input form__input--text" placeholder="Email" />
        </div>
        <div class="form__field form__field--company">
          <input class="form__input form__input--text" placeholder="Company" />
        </div>
        <div class="form__field form__field--title-role">
          <input class="form__input form__input--text" placeholder="Title / Role" />
        </div>
        <div class="form__field form__field--phone-number">
          <input class="form__input form__input--text" placeholder="Phone Number" />
        </div>
        <div class="form__field form__field--reason-for-contact">
          <select class="form__input form__input--select">
            <option>Reason for Contact</option>
            <option>Option #1</option>
            <option>Option #2</option>
            <option>Option #3</option>
          </select>
        </div>
        <div class="form__field form__field--message">
          <textarea class="form__input form__input--textarea" placeholder="How can Stroud help you find more opportunity?"></textarea>
        </div>
        <div class="form__field form__field--submit">
          <button class="form__submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
