<div class="hero hero--slideshow">
  
  <div class="hero__slide slide" style="background-image: url('/images/slide--1.jpg');">

    <div class="slide__inner">

      <h2 class="slide__heading">
        <strong>There is always more opportunity.</strong>
      </h2>

      <h3 class="slide__subheading">
        Let us show you.
      </h3>

      <div class="slide__copy">
      </div>

      <a class="slide__cta">
        View Story
      </a>

    </div>
  </div>

  <div class="hero__slide slide" style="background-image: url('/images/slide--2.jpg');">

    <div class="slide__inner">

      <h2 class="slide__heading">
        <strong>What is Stroud?</strong>
      </h2>

      <h3 class="slide__subheading">
      </h3>

      <div class="slide__copy">
        <p>
          <%= lorem.paragraphs 1 %>
        </p>
        <p>
          <%= lorem.paragraphs 1 %>
        </p>
      </div>

      <a class="slide__cta">
        View Story
      </a>


    </div>
      <button class="slide__scroll slide__scroll--2"></button>
  </div>

  <div class="hero__slide slide" style="background-image: url('/images/slide--3.jpg');">

    <div class="slide__inner">

      <h2 class="slide__heading">
        <strong>Meet the Stroudies</strong>
      </h2>

      <h3 class="slide__subheading">
      </h3>

      <div class="slide__copy">
        <p>
          <%= lorem.paragraphs 1 %>
        </p>
      </div>

      <a class="slide__cta">
        View Story
      </a>

    </div>
      <button class="slide__scroll slide__scroll--3"></button>

  </div>

  <button class="hero__scroll"></button>
</div>
