/*
Error: Import directives may not be used within control directives or mixins.
        on line 7 of nautilus/helpers/mixins/_pattern.scss
        from line 24 of nautilus/helpers/_mixins.scss
        from line 20 of nautilus/_nautilus.scss
        from line 2 of all.css.scss

2:  * ⌂-pattern
3:  *
4:  *\/
5: @mixin ⌂-pattern($pattern, $modifier, $context: all) {
6: 
7:   @import "rte";
8: 
9:   @if $pattern == 'html' {
10: 
11:     @if $modifier == 'default' {
12: 

Backtrace:
nautilus/helpers/mixins/_pattern.scss:7
nautilus/helpers/_mixins.scss:24
nautilus/_nautilus.scss:20
all.css.scss:2
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:13:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:73:in `visit_mixindef'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:57:in `visit_root'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:24:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/listen-2.7.12/lib/listen/listener.rb:282:in `call'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/listen-2.7.12/lib/listen/listener.rb:282:in `_process_changes'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/listen-2.7.12/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/listen-2.7.12/lib/listen/listener.rb:229:in `loop'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/listen-2.7.12/lib/listen/listener.rb:229:in `_wait_for_changes'
/home/kaishiro/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/listen-2.7.12/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Import directives may not be used within control directives or mixins.\A         on line 7 of nautilus/helpers/mixins/_pattern.scss\A         from line 24 of nautilus/helpers/_mixins.scss\A         from line 20 of nautilus/_nautilus.scss\A         from line 2 of all.css.scss\A \A 2:  * ⌂-pattern\A 3:  *\A 4:  */\A 5: @mixin ⌂-pattern($pattern, $modifier, $context: all) {\A 6: \A 7:   @import \"rte\";\A 8: \A 9:   @if $pattern == 'html' {\A 10: \A 11:     @if $modifier == 'default' {\A 12: "; }
